PORT=3003
DATABASE_HOST=postgres_db
DATABASE_PORT=5432
DATABASE_NAME=crm_database
DB_SCHEMA=schema_marketing
DATABASE_USER=marketing_user
DATABASE_PASSWORD=change-me
CRM_BASE_URL=http://api-gateway:8080
